<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firebase + 验证 Example</title>
    <style>
        body{
            font-family:Helvetica,Arial,sans-serif;
        }
        ul{
            margin:0
        }
        .user{
            height:30px;
            line-height: 30px;
            padding:10px;
            border-top:1px solid #eee;
            overflow:hidden;
            transition:all .25s ease;
        }
        .user:last-child{
            border-bottom:1px solid #eee;
        }
    </style>
</head>
<body>
<div id="app">
    <ul is="transition-group">
        <li v-for="user in users" class="user" :key="user['.key']">
            <span>{{user.name}} - {{user.emaill}}</span>
            <button @click="removeUser(user)">X</button>
        </li>
    </ul>
    <form  id="form" @submit.prevent="addUser">
        <input type="text" v-model="newUser.name" placeholder="Username">
        <input type="email" v-model="newUser.email" placeholder="email@email.com">
        <input type="submit" value="Add User">
    </form>
    <ul class="errors">
        <li v-show="!validation.name">Name cannot be empty.</li>
        <li v-show="!validation.email">Please procide a valid email address.</li>
    </ul>
</div>
<script src="vue.js"></script>
<script>
    var emailRE = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
        config = {
            apiKey: "AIzaSyAi_yuJciPXLFr_PYPeU3eTvtXf8jbJ8zw",
            authDomain: "vue-demo-537e6.firebaseapp.com",
            databaseURL: "https://vue-demo-537e6.firebaseio.com"
        };
    firebase.initializeApp(config);
    var usersRef = firebase.database().ref('users'),
        app = new Vue({
            el:'#app',
            data:{
                newUser:{
                    name:'',
                    email:''
                }
            },
            firebase:{
                users:usersRef
            },
            computed:{
                validation:function () {
                    return{
                        name:!!this.newUser.name.trim(),
                        email:emailRE.test(this.newUser.email)
                    }
                },
                isValid:function () {
                    var validarion = this.validation;
                    return Object.keys(validarion).every(function (kdy) {
                        return validation[key]
                    })
                }
            },
            methods:{
                addUser:function () {
                    if(this.isValid){
                        usersRef.push(this.newUser);
                        this.newUser.name = '';
                        this.newUser.emial = '';
                    }
                },
                removerUser:function (user) {
                    usersRef.child(user['.key']).remove()
                }
            }
        })
</script>
</body>
</html>